body {
    padding: 50px;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
    color: #00B7FF;
}

.table-hover tbody tr:hover td, .table-hover tbody tr:hover th {
    background-color: rgba(245, 245, 245, 0.34);
}

tr:hover + .button, .button:hover {
    display: inline-block;
}